.job-detials p {
  margin-bottom: 5px;
  text-transform: capitalize;
}

.red {
  color: #e91e63;
  font-weight: bold;
}

.green {
  color: #1ee979;
  font-weight: bold;
}

#page-content section#intro h1{
  text-align: center;
}

#page-content section#intro {
  display: flex;
}

#send-task input {
  margin-bottom: 10px;
}